<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>News manager</title>
    </head>
    <body>
        <form method="POST" th:action="@{/news}" enctype="multipart/form-data">
            Otsikko:<input type="text" name="otsikko" id="otsikko" /><br/>
            Ingressi:<input type="text" name="ingressi" id="ingressi"/><br/>
            Uutisen tekst <br/>
            <textarea cols=50 rows=10 name="text" id="text"></textarea> <br/>
            Kuva:<input type="file" name="file" id="file"/><br/><br/><br/>
            <input type="submit" value="Julkaise!"/>
        </form>
    </body>
</html>
